%h1.logo
  %img{:src => "/logo.png", :alt => "fluent"}

%form{:method => "POST", :action => "/segment"}
  %p
    %textarea{:name => "input", :rows => "5", :placeholder => "Enter some Japanese text"}
  %p
    %input.btn.btn-large{:type => "submit", :value => "Translate"}
