- content_for :custom_head do
  %meta{:name => "viewport", :content => "width=250;"}
%h1.logo
  %img.hires{:src => "/logo.png", :alt => "fluent"}

%form{:method => "POST", :action => "/segment"}
  %p
    %textarea{:name => "input", :rows => "5", :placeholder => "Enter some Japanese text"}
  %p
    %input.btn.btn-large{:type => "submit", :value => "Translate"}
